  <tr class="clickableRow" href="<%= session_url(session) %>">
    <td><%= session.teacher.name  %></td>
    <td><%= session.section %></td>
    <td><%= session.subject.andand.name %></td>
    <td><%= session.code.andand.name %></td>
    <td><%= human_time_full_datetime(session.time) %></td>
    <td><%= session.length %> min</td>
    <td>
      <% if session.is_completed? %>
      &#x2713;
      <% end %>
    </td>
    <td><%=  link_to 'Delete', session_path(session),
            :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></td>
  </tr>