  <tr class="clickableRow" href="<%= session_url(session) %>">
    <td><%= session.teacher.name  %></td>
    <td><%= session.section %></td>
    <td><%= session.subject.name %></td>
    <td><%= session.code.name %></td>
    <td><%= session.order %></td>
    <td><%= session.time.strftime("%a, %B %d %Y") %></td>
    <td><%= session.length %> min</td>
    <td>
      <% if session.is_completed? %>
      &#x2713;
      <% end %>
    </td>
  </tr>