  <tr class="clickableRow" href="<%= session_url(session) %>">
    <td><%= session.andand.teacher.andand.name  %></td>
    <td><%= session.andand.section %></td>
    <td><%= session.andand.subject.andand.name %></td>
    <!-- <td><%# session.code.andand.subject.name + ": " + session.code.andand.name %></td> -->
    <td><%= session.andand.text_title %></td>
    <td><%= session.andand.genre %></td>
    <td><%= human_time_full_datetime(session.time) %></td>
    <td><%= session.andand.length %> min</td>
    <td>
      <% if session.is_completed? %>
      &#x2713;
      <% end %>
    </td>
    <td><%=  link_to 'Delete', session_path(session),
            :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></td>
  </tr>