<h1>Schedule a new Session for <%= current_person.name %></h1>
<%= render partial: 'layouts/form_errors', locals: {instance: @session} %>
<form method="post" action="<%= sessions_url%>">
  
  <%= auth_token %>

  <!-- <label>Teacher -->
  
  <!-- <input name="session[:teacher]" value="<%= current_person.name %>"> -->
  <!-- </label> -->




  <table class="table">
    <tr>
      <td>
        <label>Subject
          <select id="subject" name="session[subject]">
            <%= options_from_collection(Subject.all) %>
            <%# Subject.all.each do |subject| %>
            <!-- <option value="<%# subject.name %>"><%# subject.name %></option> -->
            <%# end %>
          </select>
        </label>

        <!-- <label>Code
          <select name="session[code]">
            <option value="" disabled selected>Select if Coded</option>
            <%#options_from_collection_codes_subjects(Code.all) %>
          </select>
        </label> -->

        <label>Section
          <select name="session[section]">
            <option value="" disabled selected>For a specific section?</option>
            <% Student.section_list.each do |item| %>
            <option value='<%= item %>'><%= item %></option>
            <% end %>
          </select>
        </label>


        <label>Text Title
          <input name="session[text_title]">
        </label>

        <label>Genre
          <input name="session[genre]">
        </label>



<!-- <label>Order
  <input name="session[order]">
</label> -->

<label>Time
  <br>
  <%= datetime_select("session", "time") %>
</label>

<label>Length (minutes)
  <input name="session[length]">
</label>

<input type="submit" class="btn btn-success">

<td>

  <h3>Select Students</h3>
  <% sorted_students = {} %>
  <% current_person.students.asc(:section).each do |student|  %>
    <% sorted_students[student.section] = [] unless sorted_students.has_key?(student.section) %>
   <% sorted_students[student.section] << student  %>
   <% end %>

   <div class="btn-group" data-toggle="buttons">
   <% sorted_students.each_key do |section_num|%>
      <label class="btn btn-default">
        <input type="checkbox" id="checkbox-<%= section_num %>" class="group-select"> <%= section_num %>
      </label>
   <% end %> 
</div>

<table class="table table-bordered">

  <!-- keep track of keys for jQuery later -->
  <% key_string = "" %>
  <!-- insert a tbody for each section of students -->
  <% sorted_students.each_key do |section_num|%>
  <% key_string += section_num + " " %>
  <tbody id="<%= section_num %>" class="hide">
   <% sorted_students[section_num].each do |student| %>
   <tr>
    <td>
    <label><%= student.name %>, <%= student.section %>
      <input type="checkbox" name="session[students[<%= student.id %>]]">
    </label>
    </td>
    </tr>
  <% end %>
</tbody>
<% end %> 

</table>
</td>
</tr>
</table>


</form>

<script type="text/javascript">
  $('document').ready(function () {
    /*get variables from rails*/
    var section_nums = ("<%= key_string[0..-2] %>").split(" ");
    
    $(".group-select").on("click", function() {
      section_number = this.id.substr(9)
      $("#" + section_number).toggleClass("hide");
    });

  });
</script>