<h1>Schedule a new Session for <%= current_person.name %></h1>

<form method="post" action="<%= sessions_url%>">

<%= auth_token %>

<!-- <label>Teacher -->
  
  <!-- <input name="session[:teacher]" value="<%= current_person.name %>"> -->
<!-- </label> -->

<label>Subject
  <select name="session[subject]">
    <%= options_from_collection(Subject.all) %>
    <%# Subject.all.each do |subject| %>
      <!-- <option value="<%# subject.name %>"><%# subject.name %></option> -->
    <%# end %>
  </select>
</label>

<label>Code (select if coded)
  <select name="session[code]">
<%= options_from_collection(Code.all) %>
  </select>
</label>

<label>Section
  <select name="session[section]">
    <% Student.section_list.each do |item| %>
      <option value='<%= item %>'><%= item %></option>
    <% end %>
  </select>
</label>


<!-- if students need to be selected individually -->
<h4>Students</h4>
  <%if current_person.students%>
    <% current_person.students.each_with_index do |student, i|%>
      <% @student, @i = student, i %>
      <%= render partial: "student_checkbox" %>
    <% end %>
  <% end %>




<!-- <label>Order
  <input name="session[order]">
</label> -->

<label>Time
  <br>
  <%= datetime_select("session", "time") %>
</label>

<label>Length (minutes)
  <input name="session[length]">
</label>



<input type="submit">
</form>