
<h1>Session on <%= human_time(@session.time) %> 

<%= form_tag session_path(@session), method: 'put' do -%>
<%= hidden_field_tag :completed, true -%>
<%= submit_tag 'Complete the Session', class: "btn btn-lg btn-success" -%>
<% end %>

</h1>

<!-- show the info for the session -->
<%= render partial: "details" %>

<!-- show past breaches in this session -->

<!-- form for creating a new breach IF it is not completed -->
<% unless @session.is_completed %>



<table class="table table-bordered">
  <tr>
    <td>
      <% unless @session.breaches.empty? %>
      <h2>Previous Breaches</h2>
      <%= render @breaches %>
      <% end %>

    </td>
    <td>
      <%= render "breaches/form" %> 
    </td>
  </tr>
</table>



<% else %>

<% unless @session.breaches.empty? %>
<h2>Breaches</h2>
<%= render @breaches %>
<% end %>

<% end %>

<script type="text/javascript">

 // $(document).scroll(function(){
 //        $('.thisone').css('position','');
 //        top = $('.thisone').offset().top;
 //      $('.thisone').css('position','absolute');   $('.thisone').css('top',Math.max(top,$(document).scrollTop()));
 //    });
</script>