
<h1>Session at <%= human_time_full_datetime(@session.andand.time) %> 

  <%= form_tag session_path(@session), method: 'put' do -%>
  <%= hidden_field_tag :completed, true -%>
  <%= submit_tag 'Complete the Session', class: "complete-session btn btn-lg btn-success", confirm: "This will finalize the session. No more breaches may be added." -%>
  <% end %>

</h1>

<!-- show the info for the session -->
<%= render partial: "details" %>

<!-- show past breaches in this session -->

<!-- form for creating a new breach IF it is not completed -->
<% unless @session.is_completed %>



<table class="breaches table table-bordered">
  <tr class="row">
    <td class="previous-breaches col-lg-6" style="width: 50%;">
     
        <div id="stream-box">
      <%= render "breaches/form_new" %> 
          <!-- rails-readable inputs get appended here -->
        </div>
      

      <% unless @session.breaches.empty? %>
      <h2>Previous Breaches</h2>
      <%= render @breaches %>
      <% end %>
    </td>

    <td class="col-lg-6" style="width: 50%;">
      <h1>New Breach</h1>
      <h4>Add Contributions</h4>
      <div>
        <% @session.people.each do |person| %>
        <form>
          <label><%= person.name %>
            <div id="<%= person.name.gsub(/\s+/, '-') %>">
              <input type="text" class="input-<%= person.name.gsub(/\s+/, '-') %> input-xxlarge"> 
              <button  class="add_field_button btn-primary btn-primary">Add contribution</button>
            </div>
          </label>
        </form>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<%= render partial: "/sessions/show_tour" %>

<% else %>

<% unless @session.breaches.empty? %>
<h2 class="previous">Breaches</h2>
<%= render @breaches %>
<% end %>

<%= render partial: "/sessions/breach_stats", locals: {session: @session} %>

<% end %>

<script type="text/javascript">

 // $(document).scroll(function(){
 //        $('.thisone').css('position','');
 //        top = $('.thisone').offset().top;
 //      $('.thisone').css('position','absolute');   $('.thisone').css('top',Math.max(top,$(document).scrollTop()));
 //    });
</script>