<form action="<%= session_auth_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="email" value="BuddyLamers@gmail.com">
  <input type="hidden" name="password" value="unison">
  <input type="submit" value="Demo as Buddy Lamers" class="btn btn-lg btn-success">
</form>

<p>Or log in:</p>

<%= form_tag session_auth_path do %>

	<fieldset>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </fieldset>

  <fieldset>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </fieldset>

	<fieldset>
		<%= submit_tag "Login", class: "btn" %>
	</fieldset>
<% end %>


