


<form action="<%= breaches_url %>" method="post">



  <%= auth_token %>
  <input type="hidden" name="breach[session_id]" value="<%= @session.id %>">

  <!-- actual rails-readable inputs go here -->
  <h2>Conversation:</h2>
  <div class="input_fields_wrap"></div>

  <!-- good from here down -->

    <!-- REMOVED codes checkbox option. commented out ERB-->
  <div>
    <%# render partial: 'codes/codes_select_box' %>
  <label> Code:
  <select name="breach[code]"> 
    <option value='' selected disabled>Select a Code</option>
    <%= Breach::CODES.each do |code|  %>
      <option value="<%= code %>"><%=code%></option>
    <% end %>
  </select>
  </label>
  </div>
<label>
  <input type="submit" class="close-breach btn btn-lg btn-success" value="Close the Breach">
</label>
</form>






<script type="text/javascript">
  $(document).ready(function() {
    var max_fields      = 42; //maximum input boxes allowed
    var wrapper         = $('.input_fields_wrap'); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button class
    
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
      id = this.parentElement.id;
      input_field = $('.input-' + id)
      console.log(input_field.val())
      // alert('hi' + input_field.attr('class'))
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append("<div> <input type='text' name='breach[person_ids][]' value='" + id.replace('-', ' ') + "' class='input-medium'> <input type='text' name='breach[contributions][]' value='" + input_field.val().replace(/'/g, "&apos;") + "' class='input-xxlarge'/><a href='#'' class='remove_field'>Remove</a></div>"); //add contribution field so rails can see it properly
          }
          $('.breachInput').val('');
        });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); x--;
    })

});
</script>