<h1>New Breach</h1>
<form action="<%= breaches_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="breach[session_id]" value="<%= @session.id %>">

  <label>Code Type
    <select name="breach[code_type_id]">
      <%= options_from_collection_with_id(CodeType.all) %>
    </select>
  </label> 

Breacher:
    <select name="breach[person_ids][]">
      <%= options_from_collection_with_id(@session.people) %>
    </select>


First Contribution:
    <input name="breach[contributions][]">

  <h4>Additional Contributions</h4>
    <div class="input_fields_wrap">
      <button class="add_field_button btn btn-primary btn-primary">Add Another Blank</button>
      <br>
      <div>
       <!--  <tr>
          <td> -->
            <select name="breach[person_ids][]">
              <%= options_from_collection_with_id(@session.people) %>
            </select>
          <!-- </td>
          <td> -->
            <input type="text" name="breach[contributions][]">
          <!-- </td>
        </tr> -->
      </div>
    </div>
  <!-- </tbody> -->
  
  <h4>Select Specific Codes</h4>
  <ul>
  <% @session.subject.codes.each do |code| %>
    <%= render partial: "codes/checkbox", locals: {code: code} %>
  <% end %>
  </ul>



  <label>
  <input type="submit" class="btn btn-lg btn-success" value="Close the Breach">
  </label>
</form>



<script type="text/javascript">
$(document).ready(function() {
    var max_fields      = 42; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append("<div><select name='breach[person_ids][]'><%= options_from_collection_with_id(@session.people) %></select> <input type='text' name='breach[contributions][]'/><a href='#'' class='remove_field'>Remove</a></div>"); //add input box
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>