  <tr class="clickableRow" href="<%= conference_url(conference) %>">
    <td><%= conference.teacher.name  %></td>
    <td><%= conference.student.name %></td>
    <td><%= conference.subject.name %></td>
    <td><%= conference.time.strftime("%a, %B %d %Y") %></td>
    <td>
      <% if conference.is_completed? %>
      &#x2713;
      <% end %>
    </td>
  </tr>