<h1 class="page-title">Conference for <%= @conference.teacher.name %>  </h1>
<% student_string = "" %>
<% @conference.students.each {|s| student_string += s.name + ", "} %>
<h3>Students: <%= student_string[0...-2] %> </h3>

<!-- show the info for the conference -->
<%= render partial: "details" %>

<h4>Breach</h4>
<p><%= @conference.breach %></p>
<h4>Known</h4>
<p><%= @conference.known %></p>
<h4>Unknown</h4>
<p><%= @conference.unknown %></p>
<h4>Resolution</h4>
<p><%= @conference.resolution %></p>
<h4>Narrative</h4>
<p><%= @conference.narrative %></p>
<h4>Takeaway/Commitment</h4>
<p><%= @conference.takeaway %></p>


<!-- end conference button -->
<!-- <form action="<%= conference_url(@conference) %>" method="post">
  <%# auth_token %>
  <input type="hidden" name="_method" value="put">
    <input type="hidden" name="conference[is_completed]" value="true">
    <input type="submit" class="end-conference btn btn-lg btn-success" value="End Conference" >
</form> -->



<script type="text/javascript">
$(document).ready(function() {
    $('.end-conference').click(function clicked() {
       if (confirm('This will finalize the conference. No more comments/scores may be added. Are you sure?')) {
          formelement.submit();
       } else {
           return false;
       }
    })
});
</script>