<h1>Conference for <%= @conference.teacher.name %> and <%= @conference.student.name %></h1>


<%= @conference.time %>
<input type="datetime" value="<%= @conference.time %>">


<!-- show the info for the conference -->
<%# render partial: "details" %>


<% unless @conference.is_completed %>


<h4>Additional Comments</h4>
    <div class="input_fields_wrap">
      <button class="add_field_button">Add Another Blank</button>
      <br>
      <div>
            <select name="conference[code_scores][notions][]">
              <option value="strength">Strength</option>
              <option value="weakness">Weakness</option>
              <option value="goal">Goal</option>
            </select>
            <select name="conference[code_scores][codes][]">
              <%= options_from_collection_codes(@conference.subject.codes) %>
            </select>
            
            <input type="text" name="conference[code_scores][comments][]">
      </div>
    </div>

<%= form_tag conference_path(@conference), method: 'put' do -%>
<%= hidden_field_tag :completed, true -%>
<%= submit_tag 'Complete the Conference' -%>
<% end %>

<% end %>


<script type="text/javascript">
$(document).ready(function() {
    var max_fields      = 42; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append("<div><select name='conference[code_scores][notions][]'><option value='strength'>Strength</option><option value='weakness'>Weakness</option><option value='goal'>Goal</option></select><select name='conference[code_scores][codes][]<%= options_from_collection_codes(@conference.subject.codes) %></select> <input type='text' name='conference[code_scores][comments][]'/><a href='#'' class='remove_field'>Remove</a></div>"); //add input box
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>