<h2 class="title"><%= @teacher.name %></h2>

<div class="data-points">
  <div class="data-point">
    <span class="data-point-number"><%= @teacher.conferences.where(created_at: {"$gt" => 1.month.ago}).count %></span>
    <span class="data-point-text">conferences this month</span>
  </div>

  <div class="data-point">
    <span class="data-point-number"><%= @teacher.sessions.where(created_at: {"$gt" => 1.week.ago}).count %></span>
    <span class="data-point-text">sessions this week</span>
  </div>
</div>

<% breach_count = @teacher.total_breaches %>
<% breached = @teacher.breaches_breached %>
<% contributed = @teacher.breaches_contributed %>

<div class="breach-stats">
<h4>Has contributed to 
  <%= contributed %> out of
<%= breach_count %> breaches. (<%= (contributed/ (breach_count.nonzero? || 1)).to_f * 100 %>%)
</h4>

<h4>Has breached
<%= breached %> out of
<%= breach_count %> breaches. (<%= (breached / (breach_count.nonzero? || 1)).to_f * 100 %>%)
</h4>
</div>

<% counts = @teacher.conference_standard_counts %>
<% if !counts.empty? %>
<h4>Conference Standards Breakdown:</h4> 
<% end %>
<table>
  <% counts.each do |standard, count| %>
  <tr>
    <td><%= standard  %></td>
    <td><%= count %></td>
  </tr>
<% end %>
  </table>


<h3>Students</h3>

<!-- sort students -->

<% sorted_students = {} %>
  <% @teacher.students.asc(:section).each do |student|  %>
    <% sorted_students[student.section] = [] unless sorted_students.has_key?(student.section) %>
   <% sorted_students[student.section] << student  %>
   <% end %>

<div class="btn-group" data-toggle="buttons">
   <% sorted_students.each_key do |section_num|%>
      <label class="btn btn-default">
        <input type="checkbox" id="checkbox-<%= section_num %>" class="group-select"> <%= section_num %>
      </label>
   <% end %> 
</div>

<table class="table table-bordered">
  <thead>
  <tr class="row">
    <th>Student</th>
    <th>Section</th>
    <th>Conerences last 30 days</th>
    <th>Sessions last 7 days</th>
  </tr>
  </thead>



<!-- keep track of keys for jQuery later -->
    <% key_string = "" %>
    <!-- insert a tbody for each section of students -->
   <% sorted_students.each_key do |section_num|%>
   <% key_string += section_num + " " %>
      <tbody id="<%= section_num %>" class="hide">
     <% sorted_students[section_num].each do |student| %>
        <%=render partial: "/students/student", locals: {student: student}  %>
     <% end %>
      </tbody>
   <% end %> 


  

</table>

<%= render partial: "/teachers/show_tour" %>

<script type="text/javascript">
  $('document').ready(function () {
    /*get variables from rails*/
    var section_nums = ("<%= key_string[0..-2] %>").split(" ");
    
    $(".group-select").on("click", function() {
      section_number = this.id.substr(9)
      $("#" + section_number).toggleClass("hide");
    });

  });
</script>
