<h2><%= @teacher.name %></h2>

<div class="data-points">
  <div class="data-point">
    <span class="data-point-number"><%= @teacher.conferences.where(created_at: {"$gt" => 1.month.ago}).count %></span>
    <span class="data-point-text">conferences this month</span>
  </div>

  <div class="data-point">
    <span class="data-point-number"><%= @teacher.sessions.where(created_at: {"$gt" => 1.week.ago}).count %></span>
    <span class="data-point-text">sessions this week</span>
  </div>
</div>

<% breach_count = Breach.where(person_ids: {"$in" => [@teacher.id]}).count %>

<% breached = @teacher.breaches_breached %>
<% contributed = @teacher.breaches_contributed %>
<h4>Has contributed to 
  <%= contributed %> out of
<%= breach_count %> breaches. (<%= (contributed/ breach_count).to_f * 100 %>%)
</h4>

<h4>Has breached
<%= breached %> out of
<%= breach_count %> breaches. (<%= (breached / breach_count).to_f * 100 %>%)
</h4>

<h3>Students</h3>
<div class="teacher-students">
  <div class="teacher-student header"><span class="name">Name</span> <span class="count">Conferences last 30 days</span> <span class="count">Sessions last 7 days</span></div>
  <% @teacher.students.each do |student| %>
    <div class="teacher-student">
      <span class="name"><a href="<%= person_url(student) %>"><%= student.name %></a></span>
      <span class="count"><%= student.conferences.where(created_at: {"$gt" => 1.month.ago}, teacher: @teacher).count %></span>
      <span class="count"><%= Session.where(created_at: {"$gt" => 1.week.ago}, teacher: @teacher, person_ids: {"$in" => [student.id]}).count %></span>
    </div>
  <% end %>
</div>

