<h2 class="title"><%= @teacher.name %></h2>

<div class="data-points">
  <div class="data-point">
    <span class="data-point-number"><%= @teacher.conferences.where(created_at: {"$gt" => 1.month.ago}).count %></span>
    <span class="data-point-text">conferences this month</span>
  </div>

  <div class="data-point">
    <span class="data-point-number"><%= @teacher.sessions.where(created_at: {"$gt" => 1.week.ago}).count %></span>
    <span class="data-point-text">sessions this week</span>
  </div>
</div>

<% breach_count = Breach.where(person_ids: {"$in" => [@teacher.id]}).count %>
<% breached = @teacher.breaches_breached %>
<% contributed = @teacher.breaches_contributed %>

<div class="breach-stats">
<h4>Has contributed to 
  <%= contributed %> out of
<%= breach_count %> breaches. (<%= (contributed/ (breach_count.nonzero? || 1)).to_f * 100 %>%)
</h4>

<h4>Has breached
<%= breached %> out of
<%= breach_count %> breaches. (<%= (breached / (breach_count.nonzero? || 1)).to_f * 100 %>%)
</h4>
</div>

<h3>Students</h3>

<table class="table table-bordered">
  <thead>
  <tr class="row">
    <th>Student</th>
    <th>Section</th>
    <th>Conerences last 30 days</th>
    <th>Sessions last 7 days</th>
  </tr>
  </thead>

  <% @teacher.students.asc(:section).each do |student|  %>
    <%=render partial: "/students/student", locals: {student: student}  %>
  <% end %>
</table>

<%= render partial: "/teachers/show_tour" %>
