<section class="edit">
	<h1>Edit Teacher</h1>
  <%= render partial: "form" %>
</section><!-- .edit -->

<section class="teacher_students">
<%= form_for @teacher, html: {class: "row-selector"} do |f| %>
    <div class="teacher_student_list selected" data-name="teacher[student_ids]">
      <% @teacher.students.each do |student| %>
        <div class="row student student-<%= student.id %>" data-id="<%= student.id %>"><%= student.name %></div>
      <% end %>
    </div>
    <div class="all_students_list deselected">
      <% Student.all.each do |student| %>
        <div class="row student student-<%= student.id %>" data-id="<%= student.id %>"><%= student.name %></div>
      <% end %>
    </div>
  <% end %>
</section>
