<!DOCTYPE html>
<html>
<head>
  <title><%= @title =%> - UnisonServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash.any? %>
		<% flash.each do |key, value| %>
			<%= content_tag :div, value, id: key, class: 'flash' %>
		<% end %>
	<% end %>
	
	<div class="container">
		<%= render partial: 'layouts/header' %>
		<section id="content" class="<%= controller_name %>">
			<%= yield %>
		</section>
	</div><!-- .container -->
</body>
</html>
